body {
    font-family: 'Nunito Sans', sans-serif;
}
h1 {
    color: chartreuse;
    font-weight: 900;
}
p {
    color: green;
    background-color: honeydew;
}
ul {
    color: lightsalmon;
}
li {
    color: indigo;
}
hr {
    color: mediumblue;
}
ol {
    color: mediumaquamarine;
}