body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}
.header {
    display: flex;
    border-bottom: 1px solid #000;
    align-items: center;
    padding: 10px 20px;
    font-size: 20px;
}
.logo {
    background-color: rebeccapurple;
    color: lightgreen;
    margin-right: 50px;
    font-weight: 700;
    padding: 5px 15px;
    text-decoration: none;
}
h1,
h2,
h3 {
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
ul {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
ul > li {
    margin-right: 30px;
}
ul > li:last-child {
    margin-right: 0;
} 
a {
    font-weight: 700;
    text-decoration: none;
    background-color: rebeccapurple;
    color: white;
}
.box {
    display: flex;
    margin-bottom: 30px;
    gap: 20px;
    border-bottom: 1px solid #000;
}
.aside {
   background: lavender;
   padding: 10px 20px;
}
section {
   background: lavender;
   padding: 10px 20px;
   margin-bottom: 20px;
}
.link {
    background-color:  rebeccapurple;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 10px;
.post {
    padding-bottom: 13px;
}
.footer {
    font-size: 13px;
    padding-left: 0 20px;
}